@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --spectreseek-background: 0 100% 13%;
    --spectreseek-muted: 0 100% 25%;
    --spectreseek-foreground: 0 100% 50%;
    --alterok-background: 210 100% 13%;
    --alterok-muted: 210 100% 25%;
    --alterok-foreground: 210 100% 50%;
    --gaudmire-background: 47 100% 13%;
    --gaudmire-muted: 47 100% 25%;
    --gaudmire-foreground: 47 100% 50%;
    --erevald-background: 125 100% 13%;
    --erevald-muted: 125 100% 25%;
    --erevald-foreground: 125 100% 50%;
  }
}
